.income-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 181px;
  border-radius: 10px;
  background-color: #9b9b9b;
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (max-width: 660px) {
  .income-card-container {
    margin-top: 20px;
  }
}

.wallet-balance {
  font-size: 30px;
  font-weight: 700;
  line-height: 34.47px;
  text-align: left;
  color: #9dff5b;
}
.wallet-balance-heading-text {
  font-size: 30px;
  font-weight: 400;
  line-height: 34.47px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.add-income-btn {
  cursor: pointer;
  width: 167.65px;
  height: 38px;
  opacity: 0px;
  border: none;
  outline: none;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #b5dc52 0%, #89e148 100%);

  font-size: 16px;
  font-weight: 700;
  line-height: 18.38px;
  text-align: left;
  color: #ffffff;
  margin-top: 32px;
}
