.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #3b3b3b;
  padding: 16px 32px 48px 16px;
}

.income-expenses-details-container {
}

.transactions-and-top-expenses-details {
}

.header-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
  color: white;
}
