.transactions-card-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.heading-text {
  width: 261px;
  height: 32px;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 32.17px;
  text-align: left;
}

.add-balance-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 34.47px;
  text-align: left;
}

.income-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.add-income-input {
  width: 217px;
  height: 51px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.add-income-button {
  width: 145px;
  height: 51px;
  top: 378px;
  left: 630px;
  gap: 0px;
  border-radius: 15px;
  background-color: #f4bb4a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  outline: none;
  border: none;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.cancel-button {
  width: 112px;
  height: 51px;

  border-radius: 15px;

  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}
